---
title: Archive
robots: noindex
layout: default
---

<!-- Begin List Posts
================================================== -->
<section class="recent-posts">
  <div class="section-title mt-2">
    <h1 class="post-title">Archive of posts from <span>{{ page.type }} '{{ page.title }}'</span></h1>
  </div>
  <div class="posts">

    {% for post in site.posts %}
    {% assign postyear = post.date | date: "%Y" %}
    {% if postyear == page.year %}
    {% include postbox.html %}
    {% endif %}

    {% endfor %}

  </div>
</section>
